# Python cache and object files
__pycache__/
*.py[cod]

# Coverage.py
.coverage
.cov
coverage.xml
/report/coverage

# mypy
/report/typing

# pytest
/report/unit

# generated data from tests
/tests/data/JUnit/.gitignore
/tests/output/

# setuptools
/build/**/*.*
/dist/**/*.*
/*.egg-info

# Dependencies
!requirements.txt

# Sphinx
doc/_build/
doc/pyEDAA.Reports/**/*.*
!doc/pyEDAA.Reports/index.rst

# BuildTheDocs
doc/_theme/**/*.*

# IntelliJ project files
/.idea/workspace.xml

# Git files
!.git*
