name: Pipeline

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 5'

jobs:

  Params:
    uses: pyTooling/Actions/.github/workflows/Parameters.yml@r0
    with:
      name: pyEDAA.Reports
      python_version_list: "3.6 3.7 3.8 3.9 3.10"

  BuildTheDocs:
    uses: pyTooling/Actions/.github/workflows/BuildTheDocs.yml@r0
    needs:
      - Params
    with:
      artifact: ${{ fromJson(needs.Params.outputs.params).artifacts.doc }}

  PublishToGitHubPages:
    uses: pyTooling/Actions/.github/workflows/PublishToGitHubPages.yml@r0
    needs:
      - Params
      - BuildTheDocs
    with:
      doc: ${{ fromJson(needs.Params.outputs.params).artifacts.doc }}

# TODO: this is disabled until some package exists.
#  ArtifactCleanUp:
#    uses: pyTooling/Actions/.github/workflows/ArtifactCleanUp.yml@r0
#    needs:
#      - Params
#      - BuildTheDocs
#      - PublishToGitHubPages
#    with:
#      package: ${{ fromJson(needs.Params.outputs.params).artifacts.package }}
#      remaining: |
#        ${{ fromJson(needs.Params.outputs.params).artifacts.doc }}
